<section id="patient_monitor" class="features">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Respio Patients Monitor</h2>
                <p class=""></p>
                <div class="section-heading center">
                    <img src="/img/patient_monitor_concept.jpg" class="img-responsive center-block" alt=""/> 
                </div>
                <div class="section-heading center">
                    <img src="/img/patient_monitor_result.jpg" class="img-responsive center-block" alt=""/> 
                </div>
                <div class="section-heading center">
                    <img src="/img/patient_monitor_diagram.jpg" class="img-responsive center-block" alt=""/> 
                </div>

                <div class="section-heading center">
                    <img src="/img/patient_monitor.png" class="img-responsive center-block" alt=""/> 
                </div>

            </div>
        </div>

    </div>
</section>

