<section id="covid_19" class="download bg-primary text-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Vitealth Research Project:<br>Share your sleep data to overcome COVID-19!</h2>
                <div class= "section-heading center">
				<p class="text muted">It is reported that the respiration rate changes rapidly when COVID-19 occurs.<br>
                  We are conducting a campaign to predict COVID-19 incidence by analyzing respiratory rate changes from
                 a number of users using the Response Sensor. The donated data will be provided free of charge to medical researchers and medical staff,
               and will be used not only for corona19 treatment research but also for future pandemics response research. All donated information is completely anonymous.
                </p>

                
			</div>
            </div>
        </div>
    </div>
</section>
