<section id="covid_19" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-md-push-0">
                <h2 class="section-heading">Vitealth Research Project:<br>COVID-19 극복을 위해 수면데이터를 나눠보세요!</h2>
                <p>COVID-19 가 발병하였을 때 호흡속도가 급격하게 변한다고 보고되고 있습니다.<br>
                Respio 센서를 이용하여 다수의 사용자들로부터 호흡수 변화를 분석하여 COVID-19의 발병여부를 예측하는 캠페인 진행중입니다.
                기부된 데이터는 의학 연구원과 의료진에게 무료로 제공되며, 코로나19 치료 연구뿐 아니라 미래 팬데믹 대응 연구에 활용될 것입니다
                기부된 모든 정보는 완벽히 익명으로 처리됩니다.
                </p>

                <img src="/img/covid_predict.jpg" style="max-width: 80%;" class="img-responsive center-block" alt=""/> 
                <br>
                <img src="/img/covid_paper.jpg" class="img-responsive center-block" alt=""/> 

            </div>
        </div>
    </div>
</section>
