<section id="covid_19" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Vitealth Research Project:<br> COVID-19 감염 예측</h2>
                <p>COVID-19 가 발병하였을 때 호흡속도가 급격하게 변한다고 보고되고 있습니다.<br>
                Respio 센서를 이용하여 다수의 사용자들로부터 호흡수 변화를 분석하여 COVID-19의 발병여부를 예측하는 캠페인 진행입니다.
                </p>

                <img src="/img/covid_predict.jpg" style="max-width: 80%;" class="img-responsive center-block" alt=""/> 

            </div>
        </div>
    </div>
</section>
