<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">앱 다운로드</h2>
                <p>안드로이드 앱, 아이폰 앱을 선택하세요.</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/details?id=net.vitealth.respio_android" target="_blank" ><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="https://apps.apple.com/us/app/respio-sleep-coach/id1498714023" target="_blank" ><img src="/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
