
    <section id="features_detail" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/features_title.png" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/features.jpg" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <h3>1. 매일 수면을 측정</h3>

                        <div class="space"></div>

                        <p class="text-muted">Respio 슬립코치의 첫 단계로 매일잠 수면의 질과 양을 측정합니다. 아침에 일어나면 어젯밤 수면의 다양한 수면측정 결과를 아래의 화면에서와 같이 확인할 수 있습니다. Respio 슬립코치는 지금까지의 어떤 수면측정 디바이스나 앱보다 더욱 정확하고 풍부한 수면 결과를 보여드립니다.</p>

                        <div class="space"></div>
                        
                        <img src="/img/sleep_measure_result.jpg" class="img-responsive center-block" alt=""/> 

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <h3>2. 편안한 수면, 상쾌한 아침</h3>

                        <div class="space"></div>

                        <p class="text-muted">규칙적인 수면습관은 수면질을 향상시키는 가장 중요한 단계입니다. 규칙적인 수면습관을 만들기 위해서는 자신에게 맞는 기상시간을 먼저 정한 후, 자신의 일상적 수면시간를 설정하면 자동으로 취침시간이 계산됩니다.</p>

                        <div class="space"></div>

                        <li class="text-muted">아침 기상시간: 규칙적인 수면습관을 만들기 위한 가장 중요한 요소입니다. 기상시간을 일정하게 유지하는 것은 수면의 규칙성을 확립하는데 큰 도움이 됩니다.</li>
                        <li class="text-muted">수면시간: 평균적인 수면시간입니다. 처음 설정된 수면시간은 수면분석을 통해서 조정되어, 침대에 들어가는 시간을 알려드립니다.</li>
                        <li class="text-muted">취침시간: 수면시작 전 수면 준비를 위한 일람시간을 설정합니다. 잠자기 전 설정된 시간 전에 알람이 울립니다. 수면 시작전에 모든 전자기기나 불빛을 멀리하고, 수면준비를 하는 것은 숙면에 많은 도움이 됩니다.</li>

                        <div class="space"></div>
                        
                        <img src="/img/morningAlarm.jpg" class="img-responsive center-block" alt=""/> 

                        <div class="space"></div>

                        <p class="text-muted">호흡 가이드는 수면을 위하여 몸과 마음을 이완시키는 방법을 알려줍니다. 침대에서 잠들기 전에 불안과 긴장을 줄이는데 도움이 됩니다. 호흡 가이드 소리에 따라서 들숨과 날숨을 반복하면 천천히 호흡을 따라 합니다. 센서가 당신의 호흡을 측정하고, 당신의 호흡이 점점 느려지고 긴장이 풀어지도록 호흡 가이드를 할 것입니다. 가이드를 따라 하다 보면 어느새 잠들 것입니다. 잠이 들면, 자연스럽게 수면측정 단계로 들어갑니다. </p>

                    </div>
                </div>
            </div>            

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <h3>3. 수면의 문제점 분석</h3>

                        <img src="/img/druker.png" class="img-responsive center-block" alt=""/> 
                        
                        <div class="space"></div>

                        <p class="text-muted">심한 코골이는 수면질을 떨어뜨릴 뿐만 아니라, 수면 중 옆사람의 수면질에도 큰 문제가 될 수 있습니다. 당신의 코골이 원인이 무엇이라고 생각하시나요? 음주인가요? 흡연, 운동, 커피 인가요? 객관적이고 정량적인 측정이 아닌 주관적인 짐작만 가지고는 당신의 코골이 원인을 알 수도 없고, 개선할 수도 없습니다. 만약 코골이가 수면 직전 운동과 큰 관련이 있다면 수면전 운동을 줄여서 코골이를 완화시킬 수 있습니다.</p>

                        <p class="text-muted">Respio 슬립 코치는 15개의 수면 측정 결과와 20개의 일상생활이 어떤 관계가 있는 지를 분석할 수 있습니다.</p>

                        <div class="space"></div>

                        <img src="/img/factors.jpg" class="img-responsive center-block" alt=""/> 

                    </div>
                </div>
            </div>       

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <h3>4. 수면 개선</h3>

                        <div class="space"></div>

                        <p class="text-muted">Respio 슬립 코치는 인지행동 치료(Cognitive Behavior Therapy, CBT)에 기초하여 수면의 규칙성을 회복하여 수면질을 향상시키는 프로그램입니다. 인지행동 치료는 지속적인 행동변화를 통해서 수면질을 향상시키는 방법으로, 사용자가 수면개선을 위한 꾸준한 실천을 하여야 합니다. 수면제등의 약물과 달리 인체에 부작용이나 해로움이 전혀 없고, 코치를 마친 후에도 향상된 수면질이 유지됩니다. Respio 슬립 코치는 4 단계, 30일로 구성되어 있습니다. 전체 코치 기간은 수면상태에 따라 더 길어질 수 있습니다. Respio 슬립 코치를 꾸준히 지켜준다면, 당신의 수면질은 분명 향상될 것입니다.</p>

                        <div class="space"></div>

                        <img src="/img/sleep_coach_step.jpg" class="img-responsive center-block" alt=""/> 

                    </div>
                </div>
            </div>       
        </div>

    </section>
