
    <section id="features_detail" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/eng7.png" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/eng8.png" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <h3>1. Measure your sleep everyday </h3>

                        <div class="space"></div>

                        <p class="text-muted">As the first step in the Respio Sleep Coach, we measure the quality and quantity of your sleep every day. when you wake up in the morning, you can check the results of various sleep measurements from the night before, as shown on the screen below. Respio Sleep Coach provides more accurate and richer sleep results than any other sleep measurement device or app.</p>

                        <div class="space"></div>
                        
                        <img src="/img/eng12.png" class="img-responsive center-block" alt=""/> 

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <h3>2. Comfortable sleep, refreshing morning<h3>

                        <div class="space"></div>

                        <p class="text-muted">Establishing regular sleep habits is the most important step in improving sleep quality. To develop a regular sleeping habit, you can set your wake-up time first,  then set your daily sleep time to automatically calculate your bedtime.</p>

                        <div class="space"></div>

                        <li class="text-muted">Morning wake-up time: This is the most important factor in creating regular sleep habits. Maintaining a constant wake-up time is a great help in establishing regular sleep.</li>
                        <li class="text-muted">Sleep Time: Average sleep time. The first set sleep time is adjusted through sleep analysis to inform you of the time you have entered the bed.</li>
                        <li class="text-muted">Bedtime: Set the list time for sleep preparation before starting sleep. The alarm sounds before the set time before going to sleep.</li>

                        <div class="space"></div>
                        
                        <img src="/img/eng24.png" class="img-responsive center-block" alt=""/> 

                        <div class="space"></div>

                        <p class="text-muted">The breathing guide teaches you how to relax your mind and body for sleep. It helps reduce anxiety and tension before going to bed, with repeat inhalation and exhalation, followed by slow breathing. The sensor measures and guides your breath so that your breathing slows down and relaxes. If you follow the guide, you will fall asleep quickly. When you fall asleep, you naturally go to the sleep measurement phase.</p>

                    </div>
                </div>
            </div>            

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <h3>3.  Analysis of sleep problems</h3>

                        <img src="/img/eng11.png" class="img-responsive center-block" alt=""/> 
                        
                        <div class="space"></div>

                        <p class="text-muted">Severe snoring not only reduces sleep quality but can also disrupt the sleep of a partner. 
What do you think is the cause of your snoring? Is it drinking? Smoking, exercise or coffee? It is impossible to identify the cause of your snoring with subjective guesses; objective and quantitative measurements are required. If snoring is a result of pre-sleep exercise, snoring can be reduced by limiting this activity.</p>

                        <p class="text-muted">The Respio Sleep Coach can analyze the relationship between 15 sleep measurements and 20 daily lives.</p>

                        <div class="space"></div>

                        <img src="/img/eng13.png" class="img-responsive center-block" alt=""/> 

                    </div>
                </div>
            </div>       

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <h3>4. Improving Sleep</h3>

                        <div class="space"></div>

                        <p class="text-muted">Respio Sleep Coach is a program that improves sleep quality by restoring regularity of sleep based on Cognitive Behavior Therapy (CBT). Cognitive behavior therapy is a way to improve sleep quality through continuous behavioral changes, and users should continue to practice to improve sleep. Unlike sleeping pills, there are no side effects or harm to the human body, and improved sleep quality is maintained even after coaching. The Respio Sleep Coach consists of four stages, 30 days. The entire coaching period may be longer depending on the state of sleep. If you keep up with the Respio Sleep Coach, your sleep quality will definitely improve.</p>

                        <div class="space"></div>

                        <img src="/img/eng14.png" class="img-responsive center-block" alt=""/> 

                    </div>
                </div>
            </div>       
        </div>

    </section>
