<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
              <h2 class="footer-heading"><img src="/assets/images/29108792e78429d4c8edc9c7844aa626_280x60.png"></h2>
            <!-- {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%} -->
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a class="u-email" href="mailto:cypark1@gmail.com">cypark1@gmail.com</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <!-- <p>{{- site.description | escape | newline_to_br -}}</p> -->
		Vitealth
		Address: Building 11-318, ETRI, 218, Kajong-ro, Yusung-gu, Daejeon, South Korea
		
        바이텔스(주)<br>
        사업자 등록번호:511-87-00044<br>
        대표자명: 박찬용<br>
        주소: 대전 유성구 가정로 218 한국전자통신연구원 11동 318호
      </div>
    </div>

  </div>

</footer>
