
    <section id="customizing" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Respio 센서 HW 커스터마이징</h2>
                    <p>Respio 센서를 도입하고 싶으신가요? 100% 커스터마이징이 가능합니다.</p>
                    <div class="section-heading center">
                        <img src="/img/customization_hardware.png" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Respio Sleep Coach SW 커스터마이징</h2>
                    <p>Respio 센서의 다양한 인터페이스는 모든 수면관리 서비스 기획을 만족시켜 유일한 사용자 서비스를 개발할 수 있습니다.</p>
                    <div class="section-heading center">
                        <img src="/img/customization_sw.png" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Respio Home IOT 인터페이스</h2>
                    <div class="section-heading center">
                        <img src="/img/respio_iot.png" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

        </div>
    </section>
