<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Respio Sleep Coach</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#introduction">Introduction</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sensor_detail">Sensor</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features_detail">Function</a>
                </li>
                <li>
                    <a class="page-scroll" href="#techs">Technology</a>
                </li>

                <li>
                    <a class="page-scroll" href="#respio_setup">Specification</a>
                </li>
                <li>
                    <a class="page-scroll" href="#customizing">B2B</a>
                </li>

                <li>
                    <a class="page-scroll" href="#respio_application">Application field</a>
                </li>

                <li>
                    <a class="page-scroll" href="#covid_19">COVID-19</a>
                </li>

                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
				<li>
                    <a class="badge-link" href="http://127.0.0.1:4000/">KOR</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
