    <section id="introduction" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Respio Sleep Coach</h2>
                        <p class="text-muted">레스피오 슬립코치를 소개합니다. 
                            레스피오 슬립코치는 침대에 수면 센서를 설치하고, 스마트폰으로 수면을 측정, 분석, 개선하는 서비스입니다.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <img src="/img/main_pic.png" class="img-responsive" alt=""/> 
                    </div>
                </div>
            </div>

            <!-- col-lg-7 컬럼 % 조정. 이걸 조정하면 width의 최대폭이 결정되므로 그림크기가 조정된다. 
                 <div class="feature-item"> : 크기가 고정적으로 줄어든다.
            -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/text1.png" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>           

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/title_image_animation.gif" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>       
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/all_sleep.png" style="max-width: 90%;" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

    </section>
