
    <section id="sensor_detail" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/eng3.png" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/image_color_background.jpg" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        <img src="/img/eng4.png" style="max-width: 80%;" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading center">
                        
                        <p class="text-muted">Have you wondered why you feel exhausted even after a long night of rest? Sleep quality matters.</p>
                        <p class="text-muted">With Respio Sleep Monitor, you can finally unlock the mystery of sleep quality with accurate sleep tracking. Follow these Insights and tips to improve your sleep immediately. Sleep affects every part of life—your health, your mood and more. It can help you perform at your best, stay productive, and fight weight gain and depression. So if you’re ready to make the most of your day, start by improving your night.</p>
                        <p class="text-muted">That's why we developed RESPIO, the smart sleep coach that works as an accurate non-invasive bio-metric tracker that will effortlessly monitor everything about your sleep, allowing you to effectively improve the quality of your sleep. </p>
                    
                        <div class="space"></div>
                                                
                        <img src="/img/eng5.png" style="max-width: 80%;" class="img-responsive center-block" alt=""/> 

                        <div class="space"></div>
                        
                        <p class="text-muted">Respio is a one milimeter thick highly accurate sensor strip that picks up your sleeping patterns as you rest and sleep. It works with any mattress; you can put your bedsheets on top of it and forget about it. Unlike other devices on the market, Respio is not a wearable, so you won’t need to do anything other than sleep on it.  </p>

                        <div class="space"></div>
                                                
                        <img src="/img/eng6.png" style="max-width: 80%;" class="img-responsive center-block" alt=""/> 
                        
                        <div class="space"></div>
                                                
                        <p class="text-muted">During sleep, the sensor's data is transferred to your iPhone or Android phone via Bluetooth 4.0 wireless communication. The transmitted data is analyzed by the Respio Sleep Coach app and provides sleep measurement results after waking up in the morning. In addition, the Respio Sleep Coach app constantly monitors your sleep data and guides you through what you can do to improve your sleeping habits, sleep environment, and your sleep quality. 
A healthier, more energetic life starts with better sleep.  </p>

                        

                    </div>
                </div>
            </div>
        </div>
    </section>
