
    <section id="respio_setup" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Respio 사양</h2>
                    <div class="section-heading center">
                        <img src="/img/specification.jpg" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">시스템 구조(BLE 센서)</h2>
                    <div class="section-heading center">
                        <img src="/img/ble_network.jpg" style="max-width: 80%;" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">시스템 구조(WIFI 센서)</h2>
                    <div class="section-heading center">
                        <img src="/img/wifi_network.jpg" style="max-width: 80%;" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">BLE 센서와 WIFI 센서 비교</h2>
                    <div class="section-heading center">
                        <img src="/img/comparison.jpg" style="max-width: 80%;" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">설치방법</h2>
                    <div class="section-heading center">
                        <img src="/img/setup_tracker.jpg" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">제품 포장</h2>
                    <div class="section-heading center">
                        <img src="/img/unbox.jpg" class="img-responsive center-block" alt=""/> 
                    </div>
                </div>
            </div>

        </div>
    </section>
