<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

  <!-- include portfolio.html  -->
  <!-- include feature.html  -->
  <!-- include aside.html  -->
<body id="page-top">

  {% include nav.html %}
  {% include header.html %}
  {% include download-app.html %}
  {% include services.html %}
  {% include services_detail.html %}
  {% include features_respio.html %}
  {% include spec_setup_unbox.html %}
  {% include iot_customization.html %}
  {% include application_businessmodel.html %}
  {% include covid_predict.html %}

  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
