<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

  <!-- include portfolio.html  -->
  <!-- include feature.html  -->
  <!-- include aside.html  -->
<body id="page-top">

  {% include nav.html %}
  {% include header.html %}
  {% include download-app.html %}
  {% include services.html %}
  {% include services_detail.html %}
  {% include features_respio.html %}
  {% include tech.html %}
  {% include spec_setup_unbox.html %}
  {% include iot_customization.html %}
  {% include application_businessmodel.html %}
  {% include covid_predict.html %}

  {% include contact.html %}
  {% include scripts.html %}

  <!-- naver analytics -->
  <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
  <script type="text/javascript">
  if(!wcs_add) var wcs_add = {};
  wcs_add["wa"] = "38aa3a322117d8";
  if(window.wcs) {
    wcs_do();
  }
  </script>

</body>

</html>
