<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

  <!-- include portfolio.html  -->
  <!-- include feature.html  -->
  <!-- include aside.html  -->
<body id="page-top">

  {% include nav_eng.html %}
  {% include header_eng.html %}
  {% include download-app_eng.html %}
  {% include services_eng.html %}
  {% include services_detail_eng.html %}
  {% include features_respio_eng.html %}
  {% include tech_eng.html %}
  {% include spec_setup_unbox_eng.html %}
  {% include iot_customization_eng.html %}
  {% include application_businessmodel_eng.html %}
  {% include covid_predict_eng.html %}

  {% include contact_eng.html %}
  {% include scripts.html %}

  <!-- naver analytics -->
  <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
  <script type="text/javascript">
  if(!wcs_add) var wcs_add = {};
  wcs_add["wa"] = "38aa3a322117d8";
  if(window.wcs) {
    wcs_do();
  }
  </script>

</body>

</html>
