.wb-stl-pagetitle {
	font: bold 20px/20px Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(36, 36, 36); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle a {
	font: 20px/20px Arial, Helvetica, sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle a:hover {
	font: 20px/20px Arial, Helvetica, sans-serif; text-align: left; color: rgb(207, 207, 207); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle ul {
	list-style-image: none;
}
.wb-stl-subtitle {
	font: bold 36px/normal Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle a {
	font: 36px/normal Arial, Helvetica, sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle a:hover {
	font: 36px/normal Arial, Helvetica, sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle ul {
	list-style-image: none;
}
.wb-stl-heading1 {
	font: bold 29px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(59, 59, 59); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 a {
	font: 29px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 a:hover {
	font: 29px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 ul {
	list-style-image: none;
}
.wb-stl-heading2 {
	font: 16px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 a {
	font: 16px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 a:hover {
	font: 16px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 ul {
	list-style-image: none;
}
.wb-stl-heading3 {
	font: 13px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 a {
	font: 13px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 a:hover {
	font: 13px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 ul {
	list-style-image: none;
}
.wb-stl-normal {
	font: 14px/20px "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(120, 120, 120); text-transform: none; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal a {
	font: bold 14px/20px "Open Sans", sans-serif; text-align: left; color: rgb(0, 160, 209); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal a:hover {
	font: bold 14px/20px "Open Sans", sans-serif; text-align: left; color: rgb(3, 136, 176); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal ul {
	list-style-image: none;
}
.wb-stl-highlight {
	font: 13px/22px "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); text-transform: none; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight a {
	font: bold 13px/22px "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight a:hover {
	font: bold 13px/22px "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight ul {
	list-style-image: url("null");
}
.wb-stl-special {
	font: 27px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special a {
	font: 27px/normal "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special a:hover {
	font: 27px/normal "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special ul {
	list-style-image: none;
}
.wb-stl-footer {
	font: 12px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(85, 85, 85); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer a {
	font: bold 12px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 160, 209); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer a:hover {
	font: bold 12px/normal "Open Sans", sans-serif; text-align: left; color: rgb(3, 136, 176); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer ul {
	list-style-image: none;
}
.wb-stl-custom1 {
	font-size: 12px;
}
.wb-stl-custom2 {
	font-size: 12px;
}
.wb-stl-custom3 {
	font-size: 12px;
}
@media all and (min-width:768px)
{
.wb-stl-pagetitle {
	font: bold 22px/22px Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(36, 36, 36); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle a {
	font: 22px/22px Arial, Helvetica, sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle a:hover {
	font: 22px/22px Arial, Helvetica, sans-serif; text-align: left; color: rgb(207, 207, 207); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle ul {
	list-style-image: none;
}
.wb-stl-subtitle {
	font: bold 48px/normal Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle a {
	font: 48px/normal Arial, Helvetica, sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle a:hover {
	font: 48px/normal Arial, Helvetica, sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle ul {
	list-style-image: none;
}
.wb-stl-heading1 {
	font: bold 29px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(59, 59, 59); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 a {
	font: 29px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 a:hover {
	font: 29px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 ul {
	list-style-image: none;
}
.wb-stl-heading2 {
	font: 20px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 a {
	font: 20px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 a:hover {
	font: 20px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 ul {
	list-style-image: none;
}
.wb-stl-heading3 {
	font: 13px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 a {
	font: 13px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 a:hover {
	font: 13px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 ul {
	list-style-image: none;
}
.wb-stl-normal {
	font: 14px/20px "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(120, 120, 120); text-transform: none; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal a {
	font: bold 14px/20px "Open Sans", sans-serif; text-align: left; color: rgb(0, 160, 209); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal a:hover {
	font: bold 14px/20px "Open Sans", sans-serif; text-align: left; color: rgb(3, 136, 176); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal ul {
	list-style-image: none;
}
.wb-stl-highlight {
	font: 13px/22px "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); text-transform: none; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight a {
	font: bold 13px/22px "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight a:hover {
	font: bold 13px/22px "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight ul {
	list-style-image: url("null");
}
.wb-stl-special {
	font: 27px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special a {
	font: 27px/normal "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special a:hover {
	font: 27px/normal "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special ul {
	list-style-image: none;
}
.wb-stl-footer {
	font: 12px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(85, 85, 85); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer a {
	font: bold 12px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 160, 209); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer a:hover {
	font: bold 12px/normal "Open Sans", sans-serif; text-align: left; color: rgb(3, 136, 176); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer ul {
	list-style-image: none;
}
.wb-stl-custom1 {
	font-size: 12px;
}
.wb-stl-custom2 {
	font-size: 12px;
}
.wb-stl-custom3 {
	font-size: 12px;
}
}
@media all and (min-width:992px)
{
.wb-stl-pagetitle {
	font: bold 28px/28px Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(36, 36, 36); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle a {
	font: 28px/28px Arial, Helvetica, sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle a:hover {
	font: 28px/28px Arial, Helvetica, sans-serif; text-align: left; color: rgb(207, 207, 207); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle ul {
	list-style-image: none;
}
.wb-stl-subtitle {
	font: bold 60px/normal Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle a {
	font: 60px/normal Arial, Helvetica, sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle a:hover {
	font: 60px/normal Arial, Helvetica, sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle ul {
	list-style-image: none;
}
.wb-stl-heading1 {
	font: bold 36px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(59, 59, 59); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 a {
	font: 36px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 a:hover {
	font: 36px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 ul {
	list-style-image: none;
}
.wb-stl-heading2 {
	font: 20px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 a {
	font: 20px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 a:hover {
	font: 20px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 ul {
	list-style-image: none;
}
.wb-stl-heading3 {
	font: 16px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 a {
	font: 16px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 a:hover {
	font: 16px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 ul {
	list-style-image: none;
}
.wb-stl-normal {
	font: 14px/20px "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(120, 120, 120); text-transform: none; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal a {
	font: bold 14px/20px "Open Sans", sans-serif; text-align: left; color: rgb(0, 160, 209); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal a:hover {
	font: bold 14px/20px "Open Sans", sans-serif; text-align: left; color: rgb(3, 136, 176); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal ul {
	list-style-image: none;
}
.wb-stl-highlight {
	font: 14px/24px "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); text-transform: none; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight a {
	font: bold 14px/24px "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight a:hover {
	font: bold 14px/24px "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight ul {
	list-style-image: url("null");
}
.wb-stl-special {
	font: 30px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special a {
	font: 30px/normal "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special a:hover {
	font: 30px/normal "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special ul {
	list-style-image: none;
}
.wb-stl-footer {
	font: 14px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(85, 85, 85); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer a {
	font: bold 14px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 160, 209); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer a:hover {
	font: bold 14px/normal "Open Sans", sans-serif; text-align: left; color: rgb(3, 136, 176); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer ul {
	list-style-image: none;
}
.wb-stl-custom1 {
	font-size: 12px;
}
.wb-stl-custom2 {
	font-size: 12px;
}
.wb-stl-custom3 {
	font-size: 12px;
}
}
@media all and (min-width:1200px)
{
.wb-stl-pagetitle {
	font: bold 34px/34px Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(36, 36, 36); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle a {
	font: 34px/34px Arial, Helvetica, sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle a:hover {
	font: 34px/34px Arial, Helvetica, sans-serif; text-align: left; color: rgb(207, 207, 207); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-pagetitle ul {
	list-style-image: none;
}
.wb-stl-subtitle {
	font: bold 72px/normal Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle a {
	font: 72px/normal Arial, Helvetica, sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle a:hover {
	font: 72px/normal Arial, Helvetica, sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-subtitle ul {
	list-style-image: none;
}
.wb-stl-heading1 {
	font: bold 43px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(59, 59, 59); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 a {
	font: 43px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 a:hover {
	font: 43px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading1 ul {
	list-style-image: none;
}
.wb-stl-heading2 {
	font: 24px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 a {
	font: 24px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 a:hover {
	font: 24px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading2 ul {
	list-style-image: none;
}
.wb-stl-heading3 {
	font: 19px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(0, 0, 0); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 a {
	font: 19px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 a:hover {
	font: 19px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-heading3 ul {
	list-style-image: none;
}
.wb-stl-normal {
	font: 14px/20px "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(120, 120, 120); text-transform: none; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal a {
	font: bold 14px/20px "Open Sans", sans-serif; text-align: left; color: rgb(0, 160, 209); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal a:hover {
	font: bold 14px/20px "Open Sans", sans-serif; text-align: left; color: rgb(3, 136, 176); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-normal ul {
	list-style-image: none;
}
.wb-stl-highlight {
	font: 17px/29px "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); text-transform: none; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight a {
	font: bold 17px/29px "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight a:hover {
	font: bold 17px/29px "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-highlight ul {
	list-style-image: url("null");
}
.wb-stl-special {
	font: 36px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special a {
	font: 36px/normal "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special a:hover {
	font: 36px/normal "Open Sans", sans-serif; text-align: left; color: rgb(255, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-special ul {
	list-style-image: none;
}
.wb-stl-footer {
	font: 14px/normal "Open Sans", sans-serif; margin: 0px; padding: 0px; text-align: left; color: rgb(85, 85, 85); text-transform: capitalize; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer a {
	font: bold 14px/normal "Open Sans", sans-serif; text-align: left; color: rgb(0, 160, 209); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer a:hover {
	font: bold 14px/normal "Open Sans", sans-serif; text-align: left; color: rgb(3, 136, 176); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.wb-stl-footer ul {
	list-style-image: none;
}
.wb-stl-custom1 {
	font-size: 14px;
}
.wb-stl-custom2 {
	font-size: 14px;
}
.wb-stl-custom3 {
	font-size: 14px;
}
}
