@font-face {
	font-family: Capture it;
	src: url(fonts/Capture it.ttf);
}
@font-face {
	font-family: FontAwesome;
	src: url(fonts/fontawesome-webfont.ttf);
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSoraN7vELC11_xip9Rz-hMs.woff) format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzIraN7vELC11_xip9Rz-hMs.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-horaN7vELC11_xip9Rz-hMs.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxq6JHp92iES8exGTOIyTn1A.woff) format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBmOb2gHztoQeulij-1lvl-8.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxl1DIE4XHZKVVbKkAUmpPQQ.woff) format("woff");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxlRROVH9Vvc8xHnAGvvgPQc.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Open Sans;
	src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxsm6z33g0Z9rhmCMv9JmtIA.woff) format("woff");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: Open Sans Condensed;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xGRqrPGLMrTi9b00I6Zi0LA.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Open Sans Condensed;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xIs99AcBDkHXW8UNgp8Ipwk.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Open Sans Condensed;
	src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/jIXlqT1WKafUSwj6s9AzV3Qd_u3WJujL0yvUZ2_uXfD3rGVtsTkPsbDajuO5ueQw.woff) format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans"), local("PTSans-Regular"), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/yrzXiAvgeQQdopyG8QSg8Q.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/7dSh6BcuqDLzS2qAASIeuj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/lILlYDvubYemzYzN7GbLkIraN7vELC11_xip9Rz-hMs.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: PT Sans Caption;
	src: local("PT Sans Caption"), local("PTSans-Caption"), url(https://themes.googleusercontent.com/static/fonts/ptsanscaption/v7/OXYTDOzBcXU8MTNBvBHeSfETNPRNVolBcF_UwjGq_RM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PT Sans Caption;
	src: local("PT Sans Caption Bold"), local("PTSans-CaptionBold"), url(https://themes.googleusercontent.com/static/fonts/ptsanscaption/v7/Q-gJrFokeE7JydPpxASt21YMsrE0OGm1FPmk5XnVy_c.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: PT Sans Narrow;
	src: local("PT Sans Narrow"), local("PTSans-Narrow"), url(https://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4S4mX3cpNo8MnLri8k21-rs.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PT Sans Narrow;
	src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url(https://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/Q_pTky3Sc3ubRibGToTAYigwe3ZcNEyK1ut-Sjba9Qg.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Thin"), local("Roboto-Thin"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/G1l_KMKj5pga7ZKths0iTfesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Light"), local("Roboto-Light"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/Fl4y0QdOxyyTHEGMXX8kcT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Regular"), local("Roboto-Regular"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/Y5yuUJGDLtmYv2_3fMB4fA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Medium"), local("Roboto-Medium"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/oHi30kwQWvpCWqAhzHcCSD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Bold"), local("Roboto-Bold"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/isZ-wbCXNKAbnjo6_TwHTj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Black"), local("Roboto-Black"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/3Y_xCyt7TNunMGg0Et2pnj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/5z9jpDJQqVE5bmkRqplJfhsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/7m8l7TlFO-S3VkhHuR0at2Ob2gHztoQeulij-1lvl-8.woff) format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Italic"), local("Roboto-Italic"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/m1uAalIytmLBFXF3PwhxpPesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/OLffGBTaF0XFOW1gnuHF0WOb2gHztoQeulij-1lvl-8.woff) format("woff");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/t6Nd4cfPRhZP44Q5QAjcC2Ob2gHztoQeulij-1lvl-8.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/bmC0pGMXrhphrZJmniIZpWOb2gHztoQeulij-1lvl-8.woff) format("woff");
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nFg5CgGLp4EYHKghg5iYRwo.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsOC933fdLZhbewWVDyX-fYw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nANHRvH4E1CCxguZf4zS03A.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/mg0cGfGRUERshzBlvqxeAN5W0NczHoYeR79RVkDsNTU.woff) format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/BP5K8ZAJv9qEbmuFp8RpJetPcIiHO7gbJ1EXQyTeBLw.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Roboto Condensed;
	src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/mg0cGfGRUERshzBlvqxeAB1Wm7TI8_m_rqugYSu8QuY.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Roboto Slab;
	src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/MEz38VLIFL-t46JUtkIEgC6v49diG_9tVdtCNu5M0Go.woff) format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Roboto Slab;
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJa6JHp92iES8exGTOIyTn1A.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto Slab;
	src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZmOb2gHztoQeulij-1lvl-8.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto Slab;
	src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJVRROVH9Vvc8xHnAGvvgPQc.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Exo 2;
	src: local("Exo 2"), local("Exo2-Regular"), url(https://fonts.gstatic.com/s/exo2/v3/8C2PVL2WIMUnPF90ukjrZQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nanum Gothic;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nanum Gothic;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Nanum Gothic;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format("embedded-opentype"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format("woff"), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format("truetype");
	font-weight: 800;
	font-style: normal;
}
html[lang='ar'] textarea {
	direction: rtl;
}
html[lang='ar'] input {
	direction: rtl;
}
html[lang='he'] textarea {
	direction: rtl;
}
html[lang='he'] input {
	direction: rtl;
}
html[lang='fa'] textarea {
	direction: rtl;
}
html[lang='fa'] input {
	direction: rtl;
}
html[lang='ar'] .rtl {
	direction: rtl;
}
html[lang='ar'] .rtl * {
	direction: rtl;
}
html[lang='he'] .rtl {
	direction: rtl;
}
html[lang='he'] .rtl * {
	direction: rtl;
}
html[lang='fa'] .rtl {
	direction: rtl;
}
html[lang='fa'] .rtl * {
	direction: rtl;
}
html {
	padding: 0px; height: auto;
}
body {
	padding: 0px; height: auto;
}
.root {
	margin: 0px auto; width: 1003px; min-height: 200px;
}
.vbox {
	width: 100%; float: none; position: relative;
}
.hbox {
	float: left; position: relative; min-height: 100%;
}
a img {
	border: currentColor; border-image: none;
}
.clear {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; line-height: 1px; clear: both; font-size: 1px; float: none; display: block; visibility: hidden;
}
.wb-state-highlight {
	background: url("../img/hlight_bg.png") left top;
}
.wb_container {
	position: relative; z-index: 3;
}
#wb_header {
	position: relative; z-index: 4;
}
#wb_header_placeholder {
	z-index: 4;
}
#wb_sbg_placeholder {
	left: 0px; top: 0px; width: 100%; position: fixed; z-index: 4;
}
#wb_header_bg {
	left: 0px; top: 0px; width: 100%; position: fixed; z-index: 4;
}
.wb_header_fixed {
	top: 0px; width: inherit; position: fixed !important;
}
#wb_bgs_cont {
	left: 0px; width: 100%; position: absolute; z-index: 3;
}
.wb_container .wb_page {
	position: relative; box-sizing: content-box;
}
.wb_container .wb_page .wb_page_anchor {
	left: 0px; top: 0px; display: block; position: relative;
}
.wb_container > .wb-cs-row > .wb-cs-col {
	width: 100%;
}
.wb_sbg {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1;
}
.wb-cs-clear {
	margin: 0px; padding: 0px; line-height: 1px; overflow: hidden; clear: both; font-size: 1px; float: none; display: block; position: static;
}
.wb-cs-row {
	width: 100%; clear: both; float: none; box-sizing: border-box;
}
.wb-cs-row::after {
	width: 100%; height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.wb_container::after {
	width: 100%; height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.wb-cs-col {
	float: left; box-sizing: border-box;
}
.wb-cs-grp {
	box-sizing: border-box;
}
.wb-cs-elem {
	position: relative; box-sizing: border-box;
}
.wb-cs-col.wb-cs-right {
	float: right;
}
.wb-cs-grp.wb-cs-right {
	float: right;
}
.wb-cs-elem.wb-cs-right {
	float: right;
}
.wb-site-debug .wb-cs-row {
	background: rgba(255, 0, 0, 0.1);
}
.wb-site-debug .wb-cs-col {
	background: rgba(0, 255, 0, 0.1);
}
.wb-site-debug .wb-cs-grp {
	background: rgba(255, 255, 255, 0.1);
}
.wb-site-debug .wb-cs-elem {
	background: rgba(0, 0, 255, 0.1);
}
.wb_element {
	margin: 0px; padding: 0px; left: 0px; top: 0px; overflow: visible; display: block; position: absolute !important; min-height: 64px; min-width: 64px; box-sizing: content-box;
}
.wb_anchor {
	position: absolute;
}
.wb_element.wb-cs-elem {
	position: relative !important; min-width: 0px; box-sizing: border-box;
}
.wb_element_shape > div.wb_shp {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.wb_element_picture > .wb_picture_wrap {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; position: absolute;
}
.wb_table {
	border: currentColor; border-image: none; border-collapse: collapse;
}
.wb_table td {
	border: 1px solid rgb(0, 0, 0); border-image: none; position: relative;
}
.wb_table td > div {
	left: 0px; top: 0px; width: 100%; position: relative;
}
.wb_table .ui-selecting {
	background-color: rgba(100, 100, 100, 0.2);
}
.wb_table .ui-selected {
	background-color: rgba(0, 0, 0, 0.2);
}
.wb_button {
	margin: 0px; padding: 0px; text-align: center; text-decoration: none; display: block; position: relative; cursor: pointer;
}
.wb_button::before {
	height: 100%; vertical-align: middle; display: inline-block; content: "";
}
.wb_button {
	
}
.wb_button:hover {
	
}
.wb_button:active {
	
}
.wb_button:focus {
	
}
.wb_button:visited {
	
}
.wb_button span {
	margin: 0px; padding: 0px; vertical-align: middle; display: inline-block;
}
.vmenu {
	margin: 0px; padding: 0px; width: 100%; height: 100%; overflow: visible; float: left; display: block; list-style-type: none;
}
.hmenu {
	margin: 0px; padding: 0px; width: 100%; height: 100%; overflow: visible; float: left; display: block; list-style-type: none;
}
.hmenu {
	white-space: normal;
}
.vmenu li {
	margin: 0px; padding: 0px; display: inline-block; position: relative;
}
.hmenu li {
	margin: 0px; padding: 0px; display: inline-block; position: relative;
}
.vmenu li {
	clear: both; display: block;
}
.vmenu li a {
	display: block;
}
.hmenu li a {
	display: block;
}
.vmenu ul {
	left: 100%; top: 0px; padding-left: 0px; margin-left: 0px; display: none; position: absolute; z-index: 2;
}
.hmenu ul {
	left: 100%; top: 0px; padding-left: 0px; margin-left: 0px; display: none; position: absolute; z-index: 2;
}
.vmenu ul li {
	display: block;
}
.hmenu ul li {
	display: block;
}
.hmenu ul li:first-child {
	margin-top: 0px !important;
}
.vmenu ul li:first-child {
	margin-top: 0px !important;
}
.hmenu > li > ul {
	left: 0px; top: 100%;
}
.hmenu li.over > ul {
	display: block;
}
.vmenu li.over > ul {
	display: block;
}
.vmenu ul a {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 320px;
}
.hmenu ul a {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 320px;
}
.wb_gallery {
	background: rgb(0, 0, 0); width: 100%; height: 100%; overflow: hidden;
}
#wb_gedit_name {
	width: 315px;
}
#wb_gedit_images {
	background: rgb(255, 255, 255); width: 466px; height: 300px; overflow: auto; -ms-overflow-y: scroll;
}
#wb_gedit_uploader {
	width: 120px; height: 64px; float: left;
}
#wb_gedit_uploader_state {
	width: 336px; height: 64px; overflow: auto; margin-left: 10px; float: left;
}
.wb_gallery_empty {
	background: url("../img/gallery.empty.gif") no-repeat center rgb(255, 255, 255);
}
.wb_thumb {
	padding: 3px; float: left;
}
.wb_thumb img {
	max-width: none !important;
}
.wb_thumb div {
	border: 1px solid rgb(136, 136, 136); border-image: none;
}
.gallery-slideshow {
	width: 100%; height: 100%;
}
.gallery-slide-image {
	width: 100%; height: 100%;
}
.gallery-slide-left {
	background: url("../img/gallery.left.png") no-repeat center; width: 32px; height: 32px; text-decoration: none; display: block; position: absolute; cursor: pointer;
}
.gallery-slide-right {
	background: url("../img/gallery.right.png") no-repeat center; width: 32px; height: 32px; text-decoration: none; display: block; position: absolute; cursor: pointer;
}
.gallery-slide-left:hover {
	background-image: url("../img/gallery.left_h.png");
}
.gallery-slide-right:hover {
	background-image: url("../img/gallery.right_h.png");
}
.gallery-list {
	
}
.gallery-list-image {
	
}
.gallery-list-left {
	background: url("../img/gallery.left.png") no-repeat center;
}
.gallery-list-thumbs {
	
}
.gallery-list-right {
	background: url("../img/gallery.right.png") no-repeat center;
}
.gallery-list .tmb-selected {
	background: rgb(136, 136, 136);
}
#skypedetectionswf {
	left: -1000px; top: -1000px; position: absolute;
}
.wb_form {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 100%; height: 100%; display: block;
}
.wb_form table {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 100%; height: 100%; border-collapse: collapse;
}
.wb_form table th {
	margin: 0px; padding: 4px 0px 0px; border: currentColor; border-image: none; text-align: left; border-collapse: collapse;
}
.wb_form table td {
	margin: 0px; padding: 4px 0px 0px; border: currentColor; border-image: none; text-align: left; border-collapse: collapse;
}
.wb_form table th {
	white-space: nowrap;
}
.wb_form table tr:first-child th {
	padding-top: 0px;
}
.wb_form table tr:first-child td {
	padding-top: 0px;
}
.wb_form table th {
	width: 1%;
}
.wb_form table th:not([class]) {
	font-size: 13px;
}
.wb_comments textarea.hpc {
	background: none; margin: 0px; padding: 0px; border: currentColor; border-image: none; left: -10px; top: -10px; width: 1px; height: 1px; color: rgb(255, 255, 255); line-height: 1px; font-size: 1px; display: block; position: absolute; opacity: 0;
}
.wb_form textarea.hpc {
	background: none; margin: 0px; padding: 0px; border: currentColor; border-image: none; left: -10px; top: -10px; width: 1px; height: 1px; color: rgb(255, 255, 255); line-height: 1px; font-size: 1px; display: block; position: absolute; opacity: 0;
}
.wb_form .form-field {
	width: 100%;
}
.wb_form_rtl {
	direction: rtl;
}
.wb_comments {
	margin: 0px auto; width: 500px;
}
.wb_comment {
	padding: 6px 2px; clear: both; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; display: block; position: relative;
}
.wb_comment_user {
	color: rgb(0, 116, 153); font-family: Arial,sans-serif; font-size: 18px; margin-bottom: 6px;
}
.wb_comment_date {
	color: rgb(153, 153, 153); font-family: Arial,sans-serif; font-size: 10px;
}
.wb_comment_text {
	color: black; font-family: Arial,sans-serif; font-size: 13px;
}
.wb_footer {
	padding-bottom: 20px;
}
i.icon-wb-logo {
	background-position: 0px 0px; margin: -3px 0px 0px; width: 22px; height: 22px; vertical-align: middle; display: inline-block; background-image: url("../img/icon-logo.png") !important;
}
.wb-combobox-controll input {
	cursor: pointer;
}
.wb-combobox-controll ul {
	-ms-overflow-y: auto; max-height: 180px;
}
.wb-combobox-controll .dropdown-toggle {
	padding-right: 8px; padding-left: 8px;
}
[class^='ico-lang'] {
	background: url("../img/flags_matrix.png") no-repeat; margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 18px; height: 12px; line-height: 1px; overflow: hidden; font-size: 1px; display: inline-block;
}
[class*=' ico-lang'] {
	background: url("../img/flags_matrix.png") no-repeat; margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 18px; height: 12px; line-height: 1px; overflow: hidden; font-size: 1px; display: inline-block;
}
span.ico-lang-us {
	background-position: -378px -228px;
}
i.ico-lang-us {
	background-position: -378px -228px;
}
span.ico-lang-uk {
	background-position: -378px -132px;
}
i.ico-lang-uk {
	background-position: -378px -132px;
}
span.ico-lang-lt {
	background-position: -216px -240px;
}
i.ico-lang-lt {
	background-position: -216px -240px;
}
span.ico-lang-ru {
	background-position: -324px -252px;
}
i.ico-lang-ru {
	background-position: -324px -252px;
}
span.ico-lang-de {
	background-position: -72px -60px;
}
i.ico-lang-de {
	background-position: -72px -60px;
}
span.ico-lang-ae {
	background-position: -18px -60px;
}
i.ico-lang-ae {
	background-position: -18px -60px;
}
span.ico-lang-dk {
	background-position: -72px -132px;
}
i.ico-lang-dk {
	background-position: -72px -132px;
}
span.ico-lang-gr {
	background-position: -126px -216px;
}
i.ico-lang-gr {
	background-position: -126px -216px;
}
span.ico-lang-es {
	background-position: -90px -228px;
}
i.ico-lang-es {
	background-position: -90px -228px;
}
span.ico-lang-sv {
	background-position: -342px -264px;
}
i.ico-lang-sv {
	background-position: -342px -264px;
}
span.ico-lang-ee {
	background-position: -90px -60px;
}
i.ico-lang-ee {
	background-position: -90px -60px;
}
span.ico-lang-fi {
	background-position: -108px -108px;
}
i.ico-lang-fi {
	background-position: -108px -108px;
}
span.ico-lang-fr {
	background-position: -108px -216px;
}
i.ico-lang-fr {
	background-position: -108px -216px;
}
span.ico-lang-hr {
	background-position: -144px -216px;
}
i.ico-lang-hr {
	background-position: -144px -216px;
}
span.ico-lang-ht {
	background-position: -144px -240px;
}
i.ico-lang-ht {
	background-position: -144px -240px;
}
span.ico-lang-hu {
	background-position: -144px -252px;
}
i.ico-lang-hu {
	background-position: -144px -252px;
}
span.ico-lang-id {
	background-position: -162px -48px;
}
i.ico-lang-id {
	background-position: -162px -48px;
}
span.ico-lang-it {
	background-position: -162px -240px;
}
i.ico-lang-it {
	background-position: -162px -240px;
}
span.ico-lang-kr {
	background-position: -198px -216px;
}
i.ico-lang-kr {
	background-position: -198px -216px;
}
span.ico-lang-lv {
	background-position: -216px -264px;
}
i.ico-lang-lv {
	background-position: -216px -264px;
}
span.ico-lang-my {
	background-position: -234px -300px;
}
i.ico-lang-my {
	background-position: -234px -300px;
}
span.ico-lang-mk {
	background-position: -234px -132px;
}
i.ico-lang-mk {
	background-position: -234px -132px;
}
span.ico-lang-nl {
	background-position: -252px -144px;
}
i.ico-lang-nl {
	background-position: -252px -144px;
}
span.ico-lang-pl {
	background-position: -288px -144px;
}
i.ico-lang-pl {
	background-position: -288px -144px;
}
span.ico-lang-br {
	background-position: -36px -216px;
}
i.ico-lang-br {
	background-position: -36px -216px;
}
span.ico-lang-ro {
	background-position: -324px -180px;
}
i.ico-lang-ro {
	background-position: -324px -180px;
}
span.ico-lang-ua {
	background-position: -378px -12px;
}
i.ico-lang-ua {
	background-position: -378px -12px;
}
span.ico-lang-sk {
	background-position: -342px -132px;
}
i.ico-lang-sk {
	background-position: -342px -132px;
}
span.ico-lang-tr {
	background-position: -360px -216px;
}
i.ico-lang-tr {
	background-position: -360px -216px;
}
span.ico-lang-th {
	background-position: -360px -96px;
}
i.ico-lang-th {
	background-position: -360px -96px;
}
span.ico-lang-vn {
	background-position: -396px -168px;
}
i.ico-lang-vn {
	background-position: -396px -168px;
}
span.ico-lang-se {
	background-position: -342px -60px;
}
i.ico-lang-se {
	background-position: -342px -60px;
}
span.ico-lang-si {
	background-position: -342px -108px;
}
i.ico-lang-si {
	background-position: -342px -108px;
}
span.ico-lang-me {
	background-position: -234px -60px;
}
i.ico-lang-me {
	background-position: -234px -60px;
}
span.ico-lang-hk {
	background-position: -468px -108px;
}
i.ico-lang-hk {
	background-position: -468px -108px;
}
span.ico-lang-tw {
	background-position: -360px -276px;
}
i.ico-lang-tw {
	background-position: -360px -276px;
}
span.ico-lang-cn {
	background-position: -54px -168px;
}
i.ico-lang-cn {
	background-position: -54px -168px;
}
span.ico-lang-rs {
	background-position: -324px -228px;
}
i.ico-lang-rs {
	background-position: -324px -228px;
}
span.ico-lang-cz {
	background-position: -54px -312px;
}
i.ico-lang-cz {
	background-position: -54px -312px;
}
span.ico-lang-cs {
	background-position: -324px -228px;
}
i.ico-lang-cs {
	background-position: -324px -228px;
}
span.ico-lang-bg {
	background-position: -36px -84px;
}
i.ico-lang-bg {
	background-position: -36px -84px;
}
span.ico-lang-il {
	background-position: -162px -144px;
}
i.ico-lang-il {
	background-position: -162px -144px;
}
span.ico-lang-by {
	background-position: -35px -300px;
}
i.ico-lang-by {
	background-position: -35px -300px;
}
span.ico-lang-kz {
	background-position: -198px -312px;
}
i.ico-lang-kz {
	background-position: -198px -312px;
}
span.ico-lang-al {
	background-position: -17px -144px;
}
i.ico-lang-al {
	background-position: -17px -144px;
}
span.ico-lang-ir {
	background-position: -162px -216px;
}
i.ico-lang-ir {
	background-position: -162px -216px;
}
span.ico-lang-no {
	background-position: -252px -180px;
}
i.ico-lang-no {
	background-position: -252px -180px;
}
span.ico-lang-za {
	background-position: -467px -12px;
}
i.ico-lang-za {
	background-position: -467px -12px;
}
span.ico-lang-am {
	background-position: -18px -155px;
}
i.ico-lang-am {
	background-position: -18px -155px;
}
span.ico-lang-ct {
	background-position: -54px -240px;
}
i.ico-lang-ct {
	background-position: -54px -240px;
}
span.ico-lang-jp {
	background-position: -180px -192px;
}
i.ico-lang-jp {
	background-position: -180px -192px;
}
span.ico-lang-in {
	background-position: -162px -168px;
}
i.ico-lang-in {
	background-position: -162px -168px;
}
span.ico-lang-eu {
	background-position: -90px -252px;
}
i.ico-lang-eu {
	background-position: -90px -252px;
}
span.ico-lang-gl {
	background-position: -126px -144px;
}
i.ico-lang-gl {
	background-position: -126px -144px;
}
span.ico-lang-pt {
	background-position: -288px -240px;
}
i.ico-lang-pt {
	background-position: -288px -240px;
}
span.ico-lang-ph {
	background-position: -288px -96px;
}
i.ico-lang-ph {
	background-position: -288px -96px;
}
span.ico-lang-gb {
	background-position: -468px -312px;
}
i.ico-lang-gb {
	background-position: -468px -312px;
}
span.ico-lang-ge {
	background-position: -126px -60px;
}
i.ico-lang-ge {
	background-position: -126px -60px;
}
span.ico-lang-at {
	background-position: -17px -240px;
}
i.ico-lang-at {
	background-position: -17px -240px;
}
span.ico-lang-az {
	background-position: -18px -312px;
}
i.ico-lang-az {
	background-position: -18px -312px;
}
span.ico-lang-ba {
	background-position: -36px -12px;
}
i.ico-lang-ba {
	background-position: -36px -12px;
}
span.ico-lang-pk {
	background-position: -288px -132px;
}
i.ico-lang-pk {
	background-position: -288px -132px;
}
i.ico-lang-en {
	width: 18px; height: 12px;
}
i.ico-lang-lt {
	width: 18px; height: 12px;
}
i.ico-lang-ru {
	width: 18px; height: 12px;
}
.langs_flags {
	display: inline-block;
}
.langs_flags a {
	margin: 2px; padding: 0px; width: 18px; height: 12px; float: left; display: block; position: relative;
}
.langs_flags a.active::after {
	padding: 1px; border: 1px solid rgb(119, 119, 119); border-image: none; left: -2px; top: -2px; width: 22px; height: 16px; display: block; position: absolute; content: "";
}
.langs_flags a:last-child {
	margin-right: 0px;
}
.langs_flags a i {
	display: block;
}
.btn-collapser {
	padding: 6px; text-align: center; display: none;
}
.btn-collapser > .icon-bar {
	background: rgb(0, 0, 0); margin: 3px 0px 0px; padding: 0px; width: 18px; height: 3px; line-height: 1px; font-size: 1px; display: block;
}
.btn-collapser > :first-child.icon-bar {
	margin-top: 0px;
}
.wb_element .collapsed > .btn-collapser {
	display: inline-block;
}
.wb_element .collapsed > ul {
	display: none !important;
}
.wb-music-player {
	width: 100%; height: 100%; overflow: hidden; background-color: rgb(250, 250, 250);
}
.wb-music-player-ctrl {
	margin: 0px; padding: 0px; background-color: rgb(51, 51, 51);
}
.wb-music-player-btns {
	margin: 0px; padding: 6px 0px; text-align: center;
}
.wb-music-player-btns > a {
	text-align: left; color: rgb(255, 255, 255); vertical-align: middle; display: inline-block; cursor: pointer;
}
.wb-music-player-btns > a:hover {
	border-color: rgb(44, 189, 152); color: rgb(44, 189, 152); text-decoration: none;
}
.wb-music-player-btns > a.disabled {
	border-color: rgb(102, 102, 102); color: rgb(102, 102, 102); cursor: default;
}
.wb-music-player-prev {
	border-radius: 22px; border: 2px solid rgb(255, 255, 255); border-image: none; width: 22px; height: 22px; font-size: 11px; -webkit-border-radius: 22px; -moz-border-radius: 22px;
}
.wb-music-player-prev > span {
	margin: 2px 0px 0px 4px; vertical-align: top;
}
.wb-music-player-next {
	border-radius: 22px; border: 2px solid rgb(255, 255, 255); border-image: none; width: 22px; height: 22px; font-size: 11px; -webkit-border-radius: 22px; -moz-border-radius: 22px;
}
.wb-music-player-next > span {
	margin: 2px 0px 0px 4px; vertical-align: top;
}
.wb-music-player-play {
	margin: 0px 30px; border-radius: 30px; border: 2px solid rgb(255, 255, 255); border-image: none; width: 30px; height: 30px; font-size: 16px; -webkit-border-radius: 30px; -moz-border-radius: 30px;
}
.wb-music-player-play > span {
	margin: 3px 0px 0px 6px; vertical-align: top;
}
.wb-music-player-pbar {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; line-height: 1px; overflow: hidden; font-size: 1px; float: none; display: block;
}
.wb-music-player-pbar > div {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; line-height: 1px; overflow: hidden; font-size: 1px; float: none; display: block;
}
.wb-music-player-pbar {
	background-color: rgb(102, 102, 102);
}
.wb-music-player-pbar > div {
	width: 23%; height: 4px; background-color: rgb(44, 189, 152);
}
.wb-music-player-plist {
	padding: 4px 0px 0px; color: rgb(51, 51, 51); line-height: 16px; font-size: 14px;
}
.wb-music-player-plist > div {
	margin: 0px; padding: 4px 10px;
}
.wb-music-player-plist > div:nth-child(2n) {
	background-color: rgb(239, 239, 239);
}
.wb-music-player-plist > div.active {
	background-color: rgb(44, 189, 152);
}
.wb-recaptcha-placeholder {
	background: rgb(249, 249, 249); border-radius: 3px; border: 1px solid rgb(211, 211, 211); border-image: none; height: 78px; text-align: left; color: rgb(0, 0, 0); display: block; cursor: help; max-width: 304px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.wb-recaptcha-placeholder > span {
	margin: 25px 12px 0px; line-height: 24px; font-size: 14px; vertical-align: top; display: block;
}
.wb-recaptcha-placeholder > span::before {
	background: rgb(255, 255, 255); margin: 0px 10px -9px 0px; border-radius: 2px; border: 2px solid rgb(193, 193, 193); border-image: none; width: 28px; height: 28px; display: inline-block; content: ""; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.wb-store {
	width: 100%; height: 100%; overflow: visible; -ms-overflow-y: auto;
}
.wb-store-table td {
	vertical-align: middle !important;
}
.wb-store-table-name-link img {
	border: currentColor; border-image: none; width: 50px; height: 50px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.wb-store-table-name-link .wb-store-nothumb {
	border: currentColor; border-image: none; width: 50px; height: 50px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.wb-store-table-name-link .wb-store-nothumb::before {
	margin-top: -3px; vertical-align: top; display: inline-block;
}
.wb-store-table-name {
	margin: 0px 0px 0px 10px; display: inline-block;
}
.wb-store-item {
	margin: 0px 10px 20px; vertical-align: top; display: inline-block; cursor: pointer;
}
.wb-store-thumb {
	margin: 0px 0px 5px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 200px; height: 200px; text-align: center; overflow: hidden;
}
.wb-store-thumb img {
	max-width: 100%;
}
.wb-store-imgs-block {
	text-align: center; margin-right: 40px; float: left;
}
.wb-store-image {
	border: 1px solid rgb(238, 238, 238); border-image: none; width: 300px; height: 300px; text-align: center; overflow: hidden; display: inline-block; position: relative;
}
.wb-store-image > img {
	transition:opacity 0.3s; left: 0px; right: 0px; position: absolute; max-width: 100%; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s;
}
.wb-store-alt-images {
	padding: 0px 24px; margin-top: 20px; display: inline-block; position: relative;
}
.wb-store-alt-images > div {
	overflow: hidden; max-width: 488px;
}
.wb-store-alt-images > span {
	top: 41px; width: 20px; height: 40px; display: block; position: absolute; cursor: pointer; opacity: 0.5; background-image: url("../img/store-arrow.png"); background-repeat: no-repeat;
}
.wb-store-alt-images > span:hover {
	opacity: 0.8;
}
.wb-store-alt-images > .arrow-left {
	background-position: 0px 0px; left: 0px;
}
.wb-store-alt-images > .arrow-right {
	background-position: -20px 0px; right: 0px;
}
.wb-store-alt-images > div > div {
	transition:margin-left 0.3s; white-space: nowrap; -webkit-transition: margin-left 0.3s; -moz-transition: margin-left 0.3s;
}
.wb-store-alt-images .wb-store-alt-img {
	margin: 5px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 110px; height: 110px; vertical-align: middle; display: inline-block; cursor: pointer; box-sizing: content-box;
}
.wb-store-alt-images .wb-store-alt-img.active {
	margin: 3px; border: 3px solid rgb(238, 238, 238); border-image: none;
}
.wb-store-alt-images .wb-store-alt-img > img {
	max-width: 100%;
}
.wb-store-nothumb {
	color: rgb(153, 153, 153); line-height: 49px; font-size: 49px; display: inline-block;
}
.wb-store-controls {
	margin-bottom: 20px;
}
.wb-store-label {
	margin-right: 6px; display: inline-block;
}
.wb-store-details-table {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; border-collapse: collapse;
}
.wb-store-details-table td {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; border-collapse: collapse;
}
.wb-store-properties .wb-store-pcats {
	margin-bottom: 10px; display: block;
}
.wb-store-properties .wb-store-sku {
	margin-bottom: 10px; display: block;
}
.wb-store-properties .wb-store-name {
	margin-bottom: 10px; display: block;
}
.wb-store-properties .wb-store-price {
	margin-bottom: 10px; display: block;
}
.wb-store-desc {
	margin-top: 20px;
}
.wb-store-filters {
	margin: 0px 10px 20px;
}
.wb-store-cat-select {
	width: 200px;
}
.wb-store-form-block {
	width: 100%; padding-top: 20px; margin-left: 0px !important;
}
.wb-store-form-buttons {
	text-align: left; padding-top: 20px;
}
.wb-store-form-block .wb-store-form {
	width: 100%; margin-top: 20px; float: none; position: static !important;
}
.wb-store-form-block .wb-store-form .wb_form {
	margin: 0px; width: 100%; max-width: 540px;
}
.wb-store-form-block .wb-store-form .form-footer td {
	text-align: right;
}
.wb-store-cart {
	height: 100%; cursor: pointer;
}
.wb-store-cart::before {
	height: 100%; vertical-align: middle; display: inline-block; content: "";
}
.wb-store-cart > div {
	margin-right: 6px; vertical-align: middle; display: inline-block;
}
.wb-store-cart span {
	margin-right: 6px; vertical-align: middle; display: inline-block;
}
.wb-store-cart img {
	margin-right: 6px; vertical-align: middle; display: inline-block;
}
.wb-store-cart span:last-child {
	margin: 0px;
}
.wb-store-cart .store-cart-icon {
	width: 22px !important; height: 22px !important; text-align: center; color: rgb(51, 51, 51); line-height: 22px !important; font-family: FontAwesome; font-size: 18px !important; font-style: normal; font-weight: normal; text-decoration: none; vertical-align: middle; background-image: none !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: auto; speak: none;
}
.wb-store-cart .store-cart-icon::before {
	content: "\f291";
}
.wb-store .wb-store-pay-btns {
	position: relative;
}
.wb-store .wb-store-pay-btns > div {
	margin-left: 15px; vertical-align: middle; display: inline-block;
}
.wb-store .wb-store-pay-btns > .wb-store-pay-btns-overlay {
	margin: 0px; left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 1000; opacity: 0.5; background-color: rgb(255, 255, 255);
}
.cartanim {
	animation-name: cartanim; animation-duration: 0.7s; animation-fill-mode: both; -webkit-animation-duration: 0.7s; -webkit-animation-fill-mode: both; -webkit-animation-name: cartanim;
}
.wb-store-cart-table {
	margin: 0px; border: currentColor; border-image: none;
}
.wb-store-cart-table td {
	margin: 0px; border: currentColor; border-image: none;
}
.wb-store-cart-table th {
	margin: 0px; border: currentColor; border-image: none;
}
.wb-store-cart-table tr {
	margin: 0px; border: currentColor; border-image: none;
}
.wb-store-cart-table td {
	padding: 10px 5px; vertical-align: middle;
}
.wb-store-cart-table th {
	padding: 10px 5px; vertical-align: middle;
}
.wb-store-cart-table thead td {
	text-align: center;
}
.wb-store-cart-table thead th {
	text-align: center;
}
.wb-store-cart-table thead {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.wb-store-cart-table tfoot {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.wb-store-cart-table.empty thead {
	display: none;
}
.wb-store-cart-table.empty tfoot {
	display: none;
}
.wb-store-cart-table-img {
	width: 1%;
}
.wb-store-cart-table-img img {
	max-height: 56px;
}
.wb-store-cart-table-name {
	text-align: left;
}
.wb-store-cart-table-quantity {
	width: 1%;
}
.wb-store-cart-table-quantity input {
	width: 60px; text-align: center;
}
.wb-store-cart-table-price {
	width: 1%; text-align: center !important; white-space: nowrap;
}
.wb-store-cart-table-remove {
	width: 1%;
}
.wb-store-cart-table-remove > span {
	color: rgb(255, 0, 0); visibility: hidden; cursor: pointer;
}
.wb-store-cart-table tr:hover > .wb-store-cart-table-remove > span {
	visibility: visible;
}
.wb-store-cart-table-totals {
	text-align: right;
}
.wb-store-cart-sum {
	width: 1%; text-align: center !important;
}
.wb-store-pay-btns {
	text-align: right; margin-top: 20px;
}
.wb-store-pay-btns > div {
	display: inline-block;
}
@media all and (max-width:992px)
{
.wb-tab-store .wb-store-alt-images > div {
	max-width: 366px;
}
}
@media all and (max-width:768px)
{
.wb_mob_form table th {
	display: block;
}
.wb_mob_form table td {
	display: block;
}
.wb_mob_form table tr {
	display: block;
}
.wb_mob_form table td input {
	width: 100% !important;
}
.wb_mob_form table td textarea {
	width: 100% !important;
}
.wb-mob-store .wb-store-imgs-block {
	height: auto !important; float: none !important;
}
.wb-mob-store .wb-store-alt-images {
	padding: 0px;
}
.wb-mob-store .wb-store-alt-images > span {
	display: none !important;
}
.wb-mob-store .wb-store-alt-images > div > div {
	margin-left: 0px !important; white-space: normal;
}
.wb-mob-store .wb-store-alt-images .wb-store-alt-img {
	width: 85px; height: 85px;
}
.wb-mob-store .wb-store-image {
	width: 100% !important; float: none !important;
}
.wb-mob-store .wb-store-image > img {
	width: 100%;
}
.wb-mob-store .wb-store-properties {
	padding-top: 20px; padding-left: 0px; margin-left: 0px !important;
}
.wb-mob-store .wb-store-cart-table-img img {
	max-height: 40px !important;
}
}
.wb-cgr {
	margin: 0px -15px; width: auto; box-sizing: border-box;
}
.wb-cgr::after {
	width: 100%; height: 0px; clear: both; display: block; visibility: hidden; content: ""; box-sizing: border-box;
}
.wb-cgc {
	padding: 0px 15px; width: 100%; float: left; box-sizing: border-box;
}
@media all and (min-width:768px)
{
.wb-cgc-tbl-1 {
	width: 8.33%;
}
.wb-cgc-tbl-2 {
	width: 16.66%;
}
.wb-cgc-tbl-3 {
	width: 25%;
}
.wb-cgc-tbl-4 {
	width: 33.33%;
}
.wb-cgc-tbl-5 {
	width: 41.66%;
}
.wb-cgc-tbl-6 {
	width: 50%;
}
.wb-cgc-tbl-7 {
	width: 58.33%;
}
.wb-cgc-tbl-8 {
	width: 66.66%;
}
.wb-cgc-tbl-9 {
	width: 75%;
}
.wb-cgc-tbl-10 {
	width: 83.33%;
}
.wb-cgc-tbl-11 {
	width: 91.66%;
}
.wb-cgc-tbl-12 {
	width: 100%;
}
}
@media all and (min-width:992px)
{
.wb-cgc-dsk-1 {
	width: 8.33%;
}
.wb-cgc-dsk-2 {
	width: 16.66%;
}
.wb-cgc-dsk-3 {
	width: 25%;
}
.wb-cgc-dsk-4 {
	width: 33.33%;
}
.wb-cgc-dsk-5 {
	width: 41.66%;
}
.wb-cgc-dsk-6 {
	width: 50%;
}
.wb-cgc-dsk-7 {
	width: 58.33%;
}
.wb-cgc-dsk-8 {
	width: 66.66%;
}
.wb-cgc-dsk-9 {
	width: 75%;
}
.wb-cgc-dsk-10 {
	width: 83.33%;
}
.wb-cgc-dsk-11 {
	width: 91.66%;
}
.wb-cgc-dsk-12 {
	width: 100%;
}
}
@media all and (min-width:1200px)
{
.wb-cgc-tv-1 {
	width: 8.33%;
}
.wb-cgc-tv-2 {
	width: 16.66%;
}
.wb-cgc-tv-3 {
	width: 25%;
}
.wb-cgc-tv-4 {
	width: 33.33%;
}
.wb-cgc-tv-5 {
	width: 41.66%;
}
.wb-cgc-tv-6 {
	width: 50%;
}
.wb-cgc-tv-7 {
	width: 58.33%;
}
.wb-cgc-tv-8 {
	width: 66.66%;
}
.wb-cgc-tv-9 {
	width: 75%;
}
.wb-cgc-tv-10 {
	width: 83.33%;
}
.wb-cgc-tv-11 {
	width: 91.66%;
}
.wb-cgc-tv-12 {
	width: 100%;
}
}
.wb-map {
	max-height: 300px;
}
@media all and (min-height:400px)
{
.wb-map {
	max-height: 350px;
}
}
@media all and (min-height:450px)
{
.wb-map {
	max-height: 400px;
}
}
@media all and (min-height:500px)
{
.wb-map {
	max-height: 450px;
}
}
@media all and (min-height:550px)
{
.wb-map {
	max-height: 500px;
}
}
@media all and (min-height:600px)
{
.wb-map {
	max-height: 550px;
}
}
@media all and (min-height:640px)
{
.wb-map {
	max-height: 600px;
}
}
@media all and (min-width:768px)
{
.wb-map {
	max-height: none;
}
}
